---
rhsm:
    login: <rhn_login>
    password: <rhn_password>
# optional, use it only if you need to pin on a given pool
#    pool_id: <pool_id>
provisioner:
    type: openstack
# prefix to add the VM if you want to do 'libvirt on Nova'
#    instance_name_prefix: <my-prefix>
    image:
        name: RHEL 7.2 x86_64
# optional, parameter to declare the name of the admin user of the image,
#        user:
    flavor: m1.hypervisor
#    network: private
    keypair: DCI
    security-groups:
        - ssh
        - rhos-mirror-user
ssh:
    private_key: /home/dci/.ssh/DCI/id_rsa
repositories: &DEFAULT_REPOSITORIES
    - {type: rhsm_channel, name: rhel-7-server-rpms}
    - {type: rhsm_channel, name: rhel-7-server-optional-rpms}
    - {type: rhsm_channel, name: rhel-7-server-extras-rpms}
    - type: yum_repo
      content: |
          [RH7-RHOS-8.0]
          name=RH7-RHOS-8.0
          baseurl=http://192.168.1.2/rel-eng/OpenStack/8.0-RHEL-7/2016-03-03.2/RH7-RHOS-8.0/x86_64/os/
          gpgcheck=0
          enabled=1
      dest: /etc/yum.repos.d/rhos-release-8.repo
    - type: yum_repo
      content: |
          [RH7-RHOS-8.0-director]
          name=RH7-RHOS-8.0-director
          baseurl=http://192.168.1.2/rel-eng/OpenStack/8.0-RHEL-7-director/2016-03-03.4/RH7-RHOS-8.0-director/x86_64/os/
          gpgcheck=0
          enabled=1
      dest: /etc/yum.repos.d/rhos-release-8-director.repo
host0:
    repositories: *DEFAULT_REPOSITORIES
undercloud:
    repositories: *DEFAULT_REPOSITORIES
    image_path: http://192.168.1.2/brewroot/packages/rhel-guest-image/7.2/20160302.0/images/rhel-guest-image-7.2-20160302.0.x86_64.qcow2